
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }
 
 body{
     padding: 20px;
     font-family: "Courier ", monospace ;
     background-color:#264653;
 }
 
 a{
     text-decoration: none;
 }
 a.active{
     color: red;
 }
 a:hover {
     color: red;
 }

p{
    line-height: 1.5;
    padding: 20px;
}

.social-links{
    width: 60px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: blue;
}
 
.social-links-1 {
    width: auto;
    text-align: center;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: white;
    background-color: blue;
}
.paraCssEdit{
    width:"";
    height:"";
    background-color:"#333";
    border: '3px outset white';
    padding:'20px';
    margin: '10px';
}

.text-borderLine-background{
    color: #E76F51;
    font-size:20px;
    width:"";
    height:"";
    background-color:#333;
    border: 3px outset white;
    padding:20px;
    margin: 10px;
}

.image-list-relax{
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
    background-color: #0000001f;
    padding: 20px;
    border-radius: 20px;
    padding-bottom: 20px;
    cursor: pointer;
    gap: 30px;
}

.image-list-relax img {
    position: relative;
    z-index: 1;
    transition-duration: 700ms;
    
}

.image-list-relax img:hover{
    scale:1.2;
    z-index: 1;
    transition-duration:700ms;
    border-radius: 20px;
}

.located{
    color: white;
    font-size: 20px;
}

/* phone */
@media screen and (max-width:600px)
{
    *{
        font-size: 10px;
        font-weight: 50px;

    }
    .located{
        font-size: 50px;
        font-weight: 50px;
    }
    Nav{
        width: 100px;
        height: 50px;
        top: auto;
        bottom: 0;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:0 10px;
    }
}
/* tab */
@media screen and (max-width:900px) and (min-width:600px){

}


