* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
 }
 
 body{
     padding: 20px;
     font-family: "Courier ", monospace ;
     background-color:#264653;
 }
 
 a{
     text-decoration: none;
 }
 a.active{
     color: red;
 }
 a:hover {
     color: red;
 }

p{
    line-height: 1.5;
}
 
.paraCssEdit{
    width:"";
    height:"";
    background-color:"#333";
    border: '3px outset white';
    padding:'0';
    margin: '10px';
}