

Nav{
    border: 2px solid #360202;
    max-width: 1000rem;
    border-radius: 1rem;
    margin:1rem;
    font-size: 1rem;
    line-height: 2rem;
    width: 100%;
    font-size: 20px;
    background-color:#dddddd;
    border: 1px solid #f3ebeb;
    
}
.navbarBrand{
    background-color: #C7CB85;
    padding: 50px;
   

   

}

